<section class="ortodoncia">
  <div class="container hero">
    <h1>Ortodoncia</h1>
    <div class="row convencional">
      <div class="col-sm-6">
        <img class="img-convencional" src="assets/img/Imagenprueba.png" />
      </div>
      <div class="col-sm-6">
        <p class="text-convencional">Braket Convencional</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4 autoligado">
        <p class="text">Bracket Autoligado</p>
        <img class="img-autoligado" src="assets/img/img2.png" />
      </div>
      <div class="col-sm-8 estetico">
        <div class="row">
          <div class="col-sm-5">
            <p class="text">Bracket Estetico</p>
          </div>
          <div class="col-sm-6">
            <img class="img-estetico" src="assets/img/img3.png" />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row ortopedia">
      <div class="col-sm-12">
        <p class="text-ortopedia">Bracket Ortopedia</p>
        <img class="img-ortopedia" src="assets/img/img4.png" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-6 centrar">
        <p class="text-prediagnostico">Prediagnóstico</p>
        <ion-button
          color="secondary"
          fill="outline"
          ng-reflect-color="secondary"
          >Solicitar Ahora</ion-button
        >
      </div>
      <div class="col-sm-6  prediagnostico" >
        <img class="img-prediagnostico" src="assets/img/img5.png" />
      </div>
    </div>
  </div>
</section>











    
  
              
          
        
         
         
        
        
         
           
   
