<section class="ortodoncia">
  <div class="container hero">
    <div>
      <h1>Ortodoncia</h1>
    </div>
    <div class="Ortodoncia-container">
      <div class="row convencional">
        <div class="col-sm-6">
          <img
            
            src="assets/img/Imagenprueba.png"
            alt="Image Braket Convencional"/>
        </div>
        <div class="col-sm-6 convencional-p">
          <p>Bracket Convencional</p>
        </div>
        </div>
        <div class="row angulado">
          <div class="col-sm-6">
          <img src="assets/img/img2.png" alt="Braket Angulado">
          </div>
          <div class="col-sm-6 angulado-p">
            <p>Braket Angulado</p>
          </div>
        </div>
         </div>
         <div class="row estetico">
           <div class="col-sm-6">
             <img src="assets/img/img3.png" alt="Braket Estético">
           </div>
           <div class="col-sm-6 estetico-p">
             <p>Braket Estético</p>
           </div>
         </div>
         <div class="row ortopedia">
         <div class="col-sm-6">
         <img src="assets/img/img4.png" alt="Ortopedia Maxilar">
         </div>
         <div class="col-sm-6 ortopedia-p">
           <p>Ortopedia Maxilar</p>
         </div>
         </div>
         <div class="row prediagnostico">
           <div class="col-sm-6">
             <img src="assets/img/img5.png" alt="Prediagnostico">
           </div>
           <div class="col-sm-6 prediagnostico-p">
             <p>Prediagnóstico</p>
             <p>Solicitar Ahora</p>
           </div>
         </div>
         <div class="row neo">
           <div class="col-sm-6">
             <img src="assets/img/img6-.png" alt="Neo">
           </div>
           <div class="col-sm-6 neo-p">
             <p>Neo</p>
           </div>
         </div>
         <div class="row neo2">
           <div class="col-sm-6">
             <img src="assets/img/img7-.png" alt="Neo2">
           </div>
           <div class="col-sm-6 neo2-p">
             <p>Neo2</p>
           </div>
         </div>
  </div>
</section>
