<ion-content >
 <section class="Ortodoncia">
  <div  class="container">
    <h2 class="title-section">Ortodncia</h2>
    <div class="Ortodoncia-container">
      <div class="image-container">
        <img src="/assets/img/imagen2.png" alt="Image Braket Convencional">
      </div>
      <div class="image-container">
        <img src="/assets/img/imagen3.png" alt="Image Braket Autoligado Braket Estético">
      </div>
      <div class="image-container">
        <img src="/assets/img/imagen4.png" alt="Optopedia Maxilar">
      </div>
      <div class="image-container">
        <img src="/assets/img/imagen5.png" alt="Prediagnostico">
      </div>
      <div class="image-container">
        <img src="/assets/img/imagen6.png" alt="pie de imagen6">
      </div>
      <div class="image-container">
        <img src="/assets/img/imagen7.png" alt="pie de imagen7">
      </div>
       
    </div>
  </div>
 </section>

    
   



</ion-content>

