<ion-content [scrollEvents]="true" (ionScroll)="doSomethingOnInternalScroll($event)">
  <div class="" style="margin-top: 4%;">
    <div class="container" id="MyContainerId">
      <lottie-player id="firstLottie" src="/assets/videos/inicio.json" (animationCreated)="animationCreated($event)">
      </lottie-player>
    </div>
    <ion-row style="text-align: center; margin-bottom: 4%;">
      <ion-col class="home-tilte-seccionT">
        <ion-button size="small" shape="round" color="secondary" fill="outline" (click)="redirect('/biography')">
          Ver más
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <app-home></app-home>
</ion-content>