<ion-content [scrollEvents]="true" (ionScroll)="doSomethingOnInternalScroll($event)">
  <div class="" style="margin-top: 4%;">
    <div class="container" id="MyContainerId">
      <lottie-player id="firstLottie" src="/assets/videos/inicio.json" (animationCreated)="animationCreated($event)"></lottie-player>
        <ion-button class="button-ver-mas" size="small" shape="round" 
        color="secondary" fill="outline" >ver mas </ion-button>




      <!-- <ion-button class="button-ver-mas"
      color="secondary"
      fill="outline"
      ng-reflect-color="secondary"
      >Ver Más</ion-button -->
    >
    </div>
  </div>
  <app-home></app-home>
</ion-content>