.card {
    color: var(--ion-text-color);
    background-color: var(--ion-background-color);
    margin-top:6%;
    margin-bottom:6%;
}
.card-header {
    text-align: center;
    font-size: 3vw;
}
.card_body {
    margin: auto;
    text-align: center;
}


