
<ion-content  slot="fixed">
  <div class="container" >
    <div class="row" style="margin:auto;">
      <div class="col-sm-6" style="margin:auto;">
        
        <img srcset="assets/img/drcesar/cesar.jpg 320w,
        assets/img/drcesar/cesar.jpg 200w,
        assets/img/drcesar/cesar.jpg 480w" sizes="(max-width: 320px) 150px,
              (max-width: 480px) 250px,
              450px"/>
      </div>
      <div class="col-sm-6" style="margin:auto;">
        <p style="text-align: justify;">
          20 años como Ortodoncista y más de 4.000 tratamientos terminados, me enseñaron que una bella sonrisa va más allá
          de tener dientes bonitos y alineados. Entendí que cada sonrisa es ante todo la manifestación de un ser único e
          irrepetible y la puerta de salida para sus emociones más placenteras.
          Como Ortodoncista ofrezco a mis pacientes las mejores opciones de tratamiento con técnicas eficaces y sistemas
          avanzados e innovadores, y además una serie de herramientas para su crecimiento personal que los haga brillar y
          encontrar su equilibrio.
          Te invito a descubrir el verdadero potencial y la magia que se esconde detrás de tu sonrisa.
        </p>
        <p class="firma-caja intro-paragraph--small"><span class="firma-cad"><strong class="firma"><br>Cèsar Sanabria Oviedo</strong></span><br></p>
      </div>
    </div>
  </div> 
</ion-content>
