.firma-caja.intro-paragraph--small {
  max-width: none;
  margin-top: 0px;
  font-size: 21px;
  font-weight: 600;
}
.firma-cad {
  font-size: 10px;
}

.firma {
  margin-right: 0px;
  margin-left: 0px;
  font-family: "British shorthair", sans-serif;
  color: #b28c03;
  font-size: 28px;
}

ion-content {
  --padding-top: 110px;
}
